@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');



body{
    font-family: monospace;
    background-color: #C35220;
    margin: 0;
    padding: 0;
    font-family: 'Redressed', cursive;
}

#navbar{
    
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1E2035;
    z-index: 10;
    box-shadow: 0px 0px 9px 0px black;
    
    background-color: #C35220;
    margin: 0;
    
    
    
}

#navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px;
}

#navbar a:hover{
    color: #ffc7ae;
    
    
}

#navbar i{
    color: white;
    font-size: 2.2em;
    padding: 10px;
}

#welcome-section{
    position: relative;
    background-image: url(https://images.pexels.com/photos/1585893/pexels-photo-1585893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    color: aliceblue;
    text-shadow: 0px 0px 16px black;
    background-color: rgb(69, 144, 146);
    height: 100vh;
    

}

#message{
    font-size: 3em;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
    
}

#About{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2em;
    padding: 80px;
    box-shadow: inset -1px 3px 20px 2px black;

    background-image: url(https://images.pexels.com/photos/267586/pexels-photo-267586.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    text-shadow: -6px -1px 4px black;

    

}

#About h2{
    font-size: 2em;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/5477785/pexels-photo-5477785.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
    text-shadow: -6px -1px 4px black;
    
}


#projects h1{
    font-size: 4em;
    color: cornsilk;
}

.project-tile a{
    color: white;
    text-decoration: none;
    
}

.project-tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000000;
    background-image: url(img/ruler-cut.JPG);
    background-size: cover;

    
    border: 5px solid black;
    border-radius: 10px;
    font-size: 2em;
    text-decoration: none;
    transition: 0.5s;
    width: 250px;
    height: 100px;
    text-shadow: 4px 2px 0px black;

    margin: 50px;
    padding: 3px;
    
    
}


img{
    border: 5px solid black;
    border-radius: 10px;
}

.project-tile a:hover{
   color: #ffcb3c;
    transition: 0.2s;
    
}

.project-tile a::after{
    content: "\00A0\1F517";
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C35220;
    padding-top: 20px;
    
}

footer h1{
    color: white;
}

footer i{
    color: white;
    font-size: 2.7em;
    margin: 0px 35px;
    
}

footer p{
    font-size: 1.5em;
    color: white;
    
}

span{
    font-size: 1.5em;
}





i:hover{
   color: #ffcb3c;
}







@media (max-width: 551px){
    #welcome-section{
        font-size: 10px;
        text-align: center;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    #About{
        font-size: 1.4em;
    }

    footer div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1em;
    }

    footer i{
        margin: 0px 25px;
    }
}

